@{ 
    Page.Title = "Add a Quote";

    Validation.RequireField("firstName", "You must enter your first name");
    Validation.RequireField("lastName", "You must enter your last name");
    Validation.RequireField("width", "You must enter the width");
    Validation.RequireField("depth", "You must enter the depth");
    Validation.RequireField("deskNumber", "You must enter the number of desks");
    //Validation.RequireField("drawers", "You must enter the number of drawers");
    //Validation.RequireField("material", "You must enter the material");
    //Validation.RequireField("shipping", "You must select");

    var firstName = "";
    var lastName = "";
    var width = "";
    var depth = "";
    var drawers = "";
    var material = "";
    var shipping = "";
    float price = -1;
    var date = "";
    var deskNumber = "";

    if (IsPost && Validation.IsValid())
    {
        firstName = Request.Form["firstName"];
        lastName = Request.Form["lastName"];
        date = DateTime.Now.ToString();
        width = Request.Form["width"];
        depth = Request.Form["depth"];
        drawers = Request.Form["drawers"];
        material = Request.Form["material"];
        shipping = Request.Form["shipping"];
        deskNumber = Request.Form["deskNumber"];
        price = calculateQuotePrice(float.Parse(width),
            float.Parse(depth),
            int.Parse(drawers),
            material,
            shipping);

        var db = WebMatrix.Data.Database.Open("MegaDesk");
        var insertCommand1 = "INSERT INTO Desk (Width, Depth, Drawer_num, surface_material, Price) VALUES(@0, @1, @2, @3, @4)";
        var insertCommand2 = "INSERT INTO Order (Shipping, desk_num, order_total) VALUES(@0, @1, @2)";
        var insertCommand3 = "INSERT INTO Customer (First_Name, Last_Name) VALUES(@0, @1)";
        db.Execute(insertCommand1, width, depth, drawers, material, price.ToString());
       // db.Execute(insertCommand2, shipping, deskNumber, price.ToString());
        db.Execute(insertCommand3, firstName, lastName);

        Response.Redirect("~/DisplayQuote.cshtml");
    }

    float calculateQuotePrice(float cWidth,
        float cDepth,
        int cDrawers,
        string cMaterial,
        string cShipping)
    {
        int basePrice = 200;
        float drawerPrice = calculateDrawerPrice(cDrawers);
        float surfaceArea = calculateSurfaceArea(cWidth, cDepth);
        float surfaceAreaPrice = calculateSurfaceAreaPrice(surfaceArea);
        float surfaceMaterialPrice = calculateSurfaceMaterialPrice(cMaterial);
        float shippingPrice = calculateShippingPrice(cShipping, surfaceArea);

        float quotePrice = (drawerPrice
             + surfaceAreaPrice
             + surfaceMaterialPrice
             + shippingPrice
             + basePrice);

        return quotePrice;
    }

    float calculateDrawerPrice(int cDrawers)
    {
        int costPerDrawer = 50;
        int cost = (costPerDrawer * cDrawers);

        return cost;
    }
    float calculateSurfaceArea(float cWidth, float cDepth)
    {
        float area = (cWidth * cDepth);
        return area;
    }
    float calculateSurfaceAreaPrice(float surfaceArea)
    {
        float cost;

        if (surfaceArea <= 1000)
        {
            cost = 0;
        }
        else
        {
            cost = (surfaceArea - 1000);
        }
        return cost;
    }

    float calculateSurfaceMaterialPrice(string cMaterial)
    {
        int cost;
        switch (cMaterial)
        {
            case "Oak":
                cost = 200;
                return cost;
            case "Laminate":
                cost = 100;
                return cost;
            case "Pine":
                cost = 50;
                return cost;
            case "Rosewood":
                cost = 300;
                return cost;
            case "Veneer":
                cost = 125;
                return cost;
            default:
                cost = 0;
                return cost;
        }
    }

    float calculateShippingPrice(string cShipping, float surfaceArea)
    {
        int cost;

        switch (cShipping)
        {
            case "3 Day":
                if (surfaceArea < 1000)
                {
                    cost = 60;
                    return cost;
                }
                else if (surfaceArea >= 1000 && surfaceArea <= 2000)
                {
                    cost = 70;
                    return cost;
                }
                else
                {
                    cost = 80;
                    return cost;
                }
            case "5 Day":
                if (surfaceArea < 1000)
                {
                    cost = 40;
                    return cost;
                }
                else if (surfaceArea >= 1000 && surfaceArea <= 2000)
                {
                    cost = 50;
                    return cost;
                }
                else
                {
                    cost = 60;
                    return cost;
                }
            case "7 Day":
                if (surfaceArea < 1000)
                {
                    cost = 30;
                    return cost;
                }
                else if (surfaceArea >= 1000 && surfaceArea <= 2000)
                {
                    cost = 35;
                    return cost;
                }
                else
                {
                    cost = 40;
                    return cost;
                }
            default:
                cost = 0;
                return cost;
        }

    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Add Quote</title>
</head>
<body>
    <h2>New Desk Quote</h2>

    <form method="post">
        <fieldset>
            <legend>Desk Specifications</legend>
            <p>
                <label for="firstName">First Name: </label>
                <input type="text" name="firstName" value="@Request.Form["firstName"]" />
                @Html.ValidationMessage("firstName")
            </p>

            <p>
                <label for="lastName">Last Name: </label>
                <input type="text" name="lastName" value="@Request.Form["lastName"]" />
                @Html.ValidationMessage("lastName")
            </p>

            <p>
                <label for="width">Width: </label>
                <input type="text" name="width" value="@Request.Form["width"]" />
                @Html.ValidationMessage("width")
            </p>

            <p>
                <label for="depth">Depth: </label>
                <input type="text" name="depth" value="@Request.Form["depth"]" />
                @Html.ValidationMessage("depth")
            </p>

            <p>
                <label for="drawers">Drawers: </label>
                <input type="text" name="drawers" value="@Request.Form["depth"]" />
                @Html.ValidationMessage("drawers")
            </p>

            <p>
                <label for="material">Material: </label>
                <input type="text" name="material" value="@Request.Form["material"]" />
                @Html.ValidationMessage("material")
            </p>

            <p>
                <label for="shipping">Shipping: </label>
                <input type="text" name="shipping" value="@Request.Form["shipping"]" />
                @Html.ValidationMessage("shipping")
            </p>

            <p>
                <label for="deskNumber">Number of Desks: </label>
                <input type="text" name="deskNumber" value="@Request.Form["deskNumber"]" />
                @Html.ValidationMessage("deskNumber")
            </p>

            <p><input type="submit" name="buttonSubmit" value="Submit" /></p>
        </fieldset>
    </form>
</body>
</html>
