@{
    Page.Title = "Add a Quote";

    var firstName = "";
    var lastName = "";
    var width = "";
    var depth = "";
    var numberOfDrawers = "";
    var material = "";
    var shipping = "";
    var price = "";
    var Id = "";
    var deskNum = "";

    if (!IsPost)
    {
        if (!Request.QueryString["Id"].IsEmpty() && Request.QueryString["Id"].IsInt())
        {
            Id = Request.QueryString["Id"];
            var db = WebMatrix.Data.Database.Open("MegaDesk");
            var dbCommand1 = "SELECT * FROM Desk WHERE Id = @0";
            var dbCommand2 = "SELECT * FROM Order WHERE Id = @0";
            var dbCommand3 = "SELECT * FROM Customer WHERE Id = @0";

            var deskRow = db.QuerySingle(dbCommand1, Id);
            if (deskRow != null)
            {
                width = deskRow.width;
                depth = deskRow.depth;
                numberOfDrawers = deskRow.numberOfDrawers;
                material = deskRow.surface_material;
                price = deskRow.price;
            }
            else
            {
                Validation.AddFormError("No quote was found with that ID.");
            }

            var orderRow = db.QuerySingle(dbCommand2, Id);
            if (orderRow != null)
            {
                shipping = orderRow.shipping;
                deskNum = orderRow.desk_num;
            }
            else
            {
                Validation.AddFormError("No quote was found with that ID.");
            }

            var customerRow = db.QuerySingle(dbCommand3, Id);
            if (customerRow != null)
            {
                firstName = customerRow.first_name;
                lastName = customerRow.last_name;
            }
            else
            {
                Validation.AddFormError("No quote was found with that ID.");
            }

        }
        else
        {
            Validation.AddFormError("No quote was found with that ID.");
        }
    }
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Display Quote</title>
</head>
<body>
    <h2>Display Quote</h2>
    @Html.ValidationSummary()
    <p><a href="~/MegaDeskHome.cshtml">Return to Main Menu</a></p>

    <form method="post">
        <fieldset>
            <legend>Your Order</legend>

            <p>
                <span>First Name: </span>
                <span>@firstName</span>
            </p>

            <p>
                <span>Last Name: </span>
                <span>@lastName</span>
            </p>

            <p>
                <span>Width: </span>
                <span>@width</span>
            </p>

            <p>
                <span>Depth: </span>
                <span>@depth</span>
            </p>

            <p>
                <span>Drawers: </span>
                <span>@numberOfDrawers</span>
            </p>

            <p>
                <span>Material: </span>
                <span>@material</span>
            </p>

            <p>
                <span>Shipping: </span>
                <span>@shipping</span>
            </p>

            <p>
                <span>Price: </span>
                <span>@price</span>
            </p>

            <p>
                <span>Number of Desks: </span>
                <span>@deskNum</span>
            </p>

        </fieldset>
    </form>

</body>
</html>
