@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Edit a Quote";

    var name = "";
    //var lastName = "";
    var width = "";
    var depth = "";
    var numberOfDrawers = "";
    var material = "";
    var shipping = "";
    var price = "";
    var Id = "";
    var deskNum = "";
    var orderTotal = "";
    //var date = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            Id = Request.QueryString["Id"];
            var db = Database.Open("MegaDesk");
            var dbCommand = "SELECT * FROM DeskQuotes WHERE Id = @0";
            //var dbCommand2 = "SELECT * FROM Order WHERE Id = @0";
            //var dbCommand3 = "SELECT * FROM Customer WHERE Id = @0";

            var deskRow = db.QuerySingle(dbCommand, Id);
            if (deskRow != null)
            {
                name = deskRow.customer;
                width = deskRow.width.ToString();
                depth = deskRow.depth.ToString();
                numberOfDrawers = deskRow.drawers.ToString();
                material = deskRow.material;
                deskNum = deskRow.number.ToString();
                shipping = deskRow.shipping;
                price = deskRow.price;
            }
            else
            {
                Validation.AddFormError("No quote was selected.");

            }

            //var orderRow = db.QuerySingle(dbCommand2, Id);
            //if (orderRow != null)
            //{
            //    shipping = orderRow.shipping;
            //    deskNum = orderRow.desk_num;
            //    orderTotal = orderRow.order_total;
            //    date = orderRow.Date;
            //}
            //else
            //{
            //    Validation.AddFormError("No Order was found with that ID.");
            //}

            //var customerRow = db.QuerySingle(dbCommand3, Id);
            //if (customerRow != null)
            //{
            //    firstName = customerRow.first_name;
            //    lastName = customerRow.last_name;
            //}
            //else
            //{
            //    Validation.AddFormError("No Customer was found with that ID.");
            //}
        }
        else
        {
            Validation.AddFormError("No quote was selected.");

        }
    }

    if (IsPost)
    {
        Validation.RequireField("name", "You must enter your name");
        //Validation.RequireField("lastName", "You must enter your last name");
        Validation.RequireField("width", "You must enter the width");
        Validation.RequireField("depth", "You must enter the depth");
        Validation.RequireField("deskNum", "You must enter the number of desks");
        Validation.RequireField("numberOfDrawers", "You must enter the number of drawers");
        Validation.RequireField("material", "You must enter the material");
        Validation.RequireField("shipping", "You must select");

        name = Request.Form["name"];
        //lastName = Request.Form["lastName"];
        width = Request.Form["width"];
        depth = Request.Form["depth"];
        numberOfDrawers = Request.Form["numberOfDrawers"];
        material = Request.Form["material"];
        deskNum = Request.Form["deskNum"];
        shipping = Request.Form["shipping"];
        orderTotal = Request.Form["price"];
        //date = Request.Form["date"];
        Id = Request.Form["Id"];

        if (Validation.IsValid())
        {
            var db = Database.Open("MegaDesk");
            var updateCommand = "UPDATE DeskQuotes SET Customer=@0, Width=@1, Depth=@2, Drawers=@3, Material=@4, Number=@5, Shipping=@6, Price=@7 WHERE Id=@8";
            db.Execute(updateCommand, name, width, depth, numberOfDrawers, material, deskNum, shipping, orderTotal, Id);
            Response.Redirect("~/ViewSearchQuote.cshtml");
        }

        //if (Validation.IsValid())
        //{
        //    var db = Database.Open("MegaDesk");
        //    var updateCommand = "UPDATE Desk SET width=@0, depth=@1, drawer_num=@2, surface_material=@3, price=@4 WHERE Id=@5";
        //    db.Execute(updateCommand, width, depth, numberOfDrawers, material, price, Id);
        //    Response.Redirect("~/MegaDeskHome");
        //}

        //if (Validation.IsValid())
        //{
        //    var db = Database.Open("MegaDesk");
        //    var updateCommand = "UPDATE Order SET shipping=@0, desk_num=@1, order_total=@2, Date=@3 WHERE Id=@4";
        //    db.Execute(updateCommand, shipping, numberOfDrawers, orderTotal, date, Id);
        //    Response.Redirect("~/MegaDeskHome");
        //}
    }
}

<h2>Edit a Quote</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Quote Information</legend>

        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" value="@name" />
        </p>

        @*<p>
            <label for="lastName">Last Name:</label>
            <input type="text" name="lastName" value="@lastName" />
        </p>*@

        <p>
            <label for="width">Width:</label>
            <input type="text" name="width" value="@width" />
        </p>

        <p>
            <label for="depth">Depth:</label>
            <input type="text" name="depth" value="@depth" />
        </p>

        <p>
            <label for="numberOfDrawers">Number of Drawers:</label>
            <input type="text" name="numberOfDrawers" value="@numberOfDrawers" />
        </p>

        <p>
            <label for="material">Surface Material:</label>
            <input type="text" name="material" value="@material" />
        </p>

        <p>
            <label for="deskNum">Number of Desks:</label>
            <input type="text" name="deskNum" value="@deskNum" />
        </p>

        <p>
            <label for="shipping">Shipping:</label>
            <input type="text" name="shipping" value="@shipping" />
        </p>

        <p>
            <label for="price">Price:</label>
            <input type="text" name="price" value="@price" />
        </p>

        @*<p>
            <label for="orderTotal">Order Total:</label>
            <input type="text" name="orderTotal" value="@orderTotal" />
        </p>*@

        @*<p>
            <label for="date">Date:</label>
            <input type="text" name="date" value="@date" />
        </p>*@

        <input type="hidden" name="id" value="@Id" />

        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>
<p><a href="~/ViewSearchQuote.cshtml">Return to Quotes</a></p>